/* .icons:hover{
background-color: #e0e0e0 !important;
} */
 body{
    background-color: #123;
 }
.icons{
    transition: all 0.3s;
    margin-right: 0.25em;
    
}
.card-hover{
    transition: all 0.5s !important;
    box-shadow: 0px 5px 8px #9e9e9e !important;
}
.card-hover:hover{
    transform: scale(1.025);
   
}
.text-deco{
    text-decoration: line-through;
}
::-webkit-scrollbar{
    width:8px;
}
::-webkit-scrollbar-track{
    background-color: #616161;
}
::-webkit-scrollbar-thumb{
    background-color: 
#9e9e9e;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover{
cursor: pointer;
}